{% extends "futuUpload/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Password{% endblock %}

{% block headscript %}

$(function(){
  $('form').submit(function(event) {
    $('#status').removeClass();
    $('#status').text('');
  });
});
 
{% endblock %}

{% block content %}

<form action="" id="passPrompt" method="POST">
<p>Please enter the password for the file:<br /><span class="bigger">{{ filename }}</span></p>
<input id="password" type="password" name="password"></input>
<input type="hidden" name="filename" value="{{ filename }}">
<input type="submit" value="Download">
</form>
<div id="status" class="error">{{ status }}</div>

{% endblock %}
