{% load static %}

<!DOCTYPE HTML>
<head>
<title>{% block title %}Futurice Share{% endblock %}</title>

<script src="{% get_static_prefix %}js/jquery.js"></script>
<script src="{% get_static_prefix %}js/underscore.js" type="text/javascript" charset="utf-8"></script>
<script src="{% get_static_prefix %}js/backbone.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="{% get_static_prefix %}css/normalize.css" type="text/css" />

<!-- This page uses LESS. For more information see: http://lesscss.org/ -->
<link rel="stylesheet/less" href="{% get_static_prefix %}css/default.less" type="text/css" />
<script src="{% get_static_prefix %}js/less-1.1.3.min.js" type="text/javascript"></script>

<script>
{% block headscript %}
$(function(){

	
		
	//Create an individual foldername for the files
	var foldername = new Date().getTime();
	foldername += Math.floor(Math.random()*99);

	//The url where the forms are posted
	var uploadURL = '/futushare/'+foldername+'/';
	
	//Code for the upload form's content
	var newForm = '<input type="file" multiple name="file" />';
	
	//Model for the file (will be extended with different files)
	var FutuFile = Backbone.Model.extend({
		url: '/foo/',
		
		initialize: function(){
			_.bindAll(this, 'save', 'destroy');

		},
		
		save : function(attrs, options) {
			return this;
		},
		
		destroy : function(options) {
			if (this.collection) this.collection.remove(this);
			this.trigger('remove');			
			return this;
		}
	});

	//A file that will be uploaded through a form
	var RegularFile = FutuFile.extend({
		save : function(attrs, options) {
			this.trigger('save');
			return this;
		},
				
	});

	//A file that will be uploaded using xhr
	var DroppedFile = FutuFile.extend({
		form : null,

		initialize: function(file){
			FutuFile.prototype.initialize.call(this);
			_.bindAll(this, 'save', 'destroy');
			this.form = new FormData();
			this.form.append(file.name, file);
			this.set({'filename' : file.name});
		},

		save : function(attrs, options) {
			var xhr = new XMLHttpRequest();
  			xhr.open('POST', uploadURL, true);
			var that = this;
  			xhr.onload = function(e) {
				that.trigger('xhrDone', this.responseText);
			};
			xhr.send(this.form);
			this.trigger('uploading');
			return this;
		}

	});
	
	//Collection of files
	var FileList = Backbone.Collection.extend({
		model: File,
	});
	
	//The view for the individual models
	var FileView = Backbone.View.extend({
		tagName: 'form',
		
		events: {
			'click img:first': 'removeFile',
			'change input:file' : 'showName'
		},
		
		initialize: function(){
			_.bindAll(this, 'render', 'removeFile', 'remove', 'showName', 'uploadFile', 'uploading', 'showFilename', 'setCompletedUpload');
			this.el = $(this.el);
			
			//The name for the iframe assisciated with this form
			var iframeName = 'up-iframe-' + (new Date()).getTime();
			
			//Form attributes
			this.el.attr('action', uploadURL);
			this.el.attr('enctype', 'multipart/form-data');
			this.el.attr('method', 'POST');
			this.el.attr('target', iframeName);
			
			//Binding events
			this.model.bind('save', this.uploadFile);
			this.model.bind('remove', this.remove);
			this.model.bind('newfile', this.showName);
			this.model.bind('uploading', this.uploading);
			this.model.bind('xhrDone', this.setCompletedUpload);
			
			//Create the target iframe
			this.targetIframe = $('<iframe name="' + iframeName + '" style="display: none;"></iframe>');
	
			//Add the iframe to the DOM
			$('#iframes').append(this.targetIframe);		
		},
		
		render: function(){
			var fileName = this.model.get('filename');
			//Check to see if this is an xhr upload or a traditinal form
			if (fileName != undefined){
				this.showFilename(fileName);
			} else {
				this.el.html(newForm);
			}
		},

		showFilename: function(fileName){
			this.el.prepend('<span class="filename">'+fileName+' </span><img src="{% get_static_prefix %}img/delete.png" class="file-icon" alt="remove">');
		},
		
		removeFile: function(){
			this.model.destroy();
			return false;
		},
		
		//Show the name instead of the file browser
		showName: function(){
			var filePath =  this.el.find('input:file').val();
			var fileName = filePath.replace('C:\\fakepath\\', '');
			
			this.el.find('input:file').hide();
			this.showFilename(fileName);
			
		},

		uploading: function(){
			this.el.find('img').remove();
			this.el.append('<img class="file-icon" src="{% get_static_prefix %}img/loading.gif" alt="loading">')
		},
		
		uploadFile: function(){
			
			this.uploading();
			
			var that = this;
			
			//Set the callback function for the iframe
			this.targetIframe.load(function (){
				
				//Get the status from the iframe
				var status = $(this).contents().text();

				that.setCompletedUpload(status);
	
			});
			
			this.el.submit(); //Submit the form
			
		},

		setCompletedUpload: function(status){
			if (status != ''){
				//Clear old iamges
				this.el.find('img').remove();
				
				if (status == 'DONE') {
					//Add done icon
					this.el.append('<img class="file-icon" src="{% get_static_prefix %}img/check.png" alt="done">')
			
				} else {				
					//Add warning icon
					this.el.append('<img class="file-icon" src="{% get_static_prefix %}img/alert.png" alt="alert">\
							<span> There was an error with the upload: '+status+'</span>');
					
					this.model.trigger('fileError');
				}
				
				this.model.trigger('fileUploaded');
			}
		}
		
	});
	
	//The view for the collection
	var FileListView = Backbone.View.extend({
		el: $('#forms-wrapper'),
		
		events: {
			'change form input:file' : 'addNewFile',
			'click button#upload' : 'uploadAll'
		},
		
		initialize: function(){
			_.bindAll(this, 'render', 'addOne', 'checkNoForms', 'redirectToZip', 'uploadsDone');
			
			this.collection.bind('add', this.addOne);
			this.collection.bind('remove', this.checkNoForms);
			
			this.addNewFile();
			
		},
		
		//Add another form for the file
		addOne: function(file){
			var myFileView = new FileView({
				model: file
			});
			myFileView.render();
			this.el.append(myFileView.el);
			
			//If there is something to upload, enable the upload button
			if (this.collection.length > 1){
				$("#forms-wrapper button").removeAttr('disabled');				
			}
		},
		
		//Add a new model to the collection
		addNewFile: function(){
			this.collection.add([new RegularFile()]);
		},
		
		//Check that there is always an empty form
		checkNoForms: function(){
			if (this.collection.length == 0 || this.collection.last().get('filename') != undefined) {
				this.addNewFile();	
			}
		},
		
		//Submit all the forms
		uploadAll: function(){
			//Do not submit if there is only an empty form
			if (this.collection.length < 2) {
				return;
			}
			
			//Hide the upload button so users can't click again
			this.el.find('button#upload').hide(); 

			//Hide the empty form
			this.el.find('form:last').hide();
			
			var uploadedFiles = 0;
			//This is -1, because we don't want to upload the empty model at the end
			var totalFiles = this.collection.length-1;
			var that = this;
			var errors = 0;
			 
			//Submit the forms individually by saving the models
			this.collection.each(function(file){
				//If this is not the last (empty) model
				if (file != that.collection.last()){
					//Set the callback for a finished upload
					file.bind('fileUploaded', function() {
						uploadedFiles++;
					
						//Check if all the uploads are done
						if (uploadedFiles == totalFiles){
							that.uploadsDone(errors);
						}
					});
				
					//Set the callback for errors in the upload
					file.bind('fileError', function(){
						errors++;
					});
				
					 file.save();  //Save the model
				}
			 });
		},
		
		//When all the uploads are done
		uploadsDone: function(errors){
			var that = this;
			
			//If there are errors
			if (errors > 0) {
				//If there was more than one file (don't forget the empty form)
				if (this.collection.length > 2 ){
					var errText = $('<div><p>There was an error with one or more files.<br>'
								+'Do you want to zip the rest of the files anyway?</p>'
								+'<button class="yes">Yes</button><button class="no">No</button></div>');
				
					errText.find("button.yes").click(function(){
						that.redirectToZip(); //Redirect to zipping the files anyway
					});
				
					errText.find("button.no").click(function(){
						window.location = '/'; //Redirect to the home page
					}); 
						
				} else {
					//Only one file was uploaded and it was too big
					var errText = $('<div><p>The file was too big.</p><button>Return</button></div>');
					errText.find("button").click(function(){
						window.location = '/'; 
					});
				}
				
				//Add the error text to the DOM
				$("#content").append(errText);
				
			} else {
				//No errors, continue to the zipping
				that.redirectToZip();
			}
		},
		
		//Redirect the user to the zipping
		redirectToZip: function(){
			//This is done with a form, to comply with REST principles and POST the information
			$("#content").append('<p><img class="file-icon" src="{% get_static_prefix %}img/loading.gif" alt="zipping"> Zipping...</p>');
			var redirect = $('<form name="redirect" action="/futushare/zip/'+foldername+'/" method="POST"></form>');
			$('body').append(redirect);
			redirect.submit();
		}
		
	});
	
	
	//Create the file list and view
	var myFileList = new FileList();
	
	var myListView = new FileListView({
		collection: myFileList
	});


	//Function for handling the drop event
	function handleDrop(evt){
		evt.stopPropagation();
  		evt.preventDefault();

		$('#status').append('<img class="file-icon" src="{% get_static_prefix %}img/loading.gif" alt="Loading...">');

		//The files that were dropped
		var files = evt.dataTransfer.files;

		if (files.length > 0){

			//Iterate over the array of files
			for (var i = 0, fi; fi = files[i]; i++) {
	
				//Check the filesize locally
				if (fi.size < 367001600){
					//Add a new DroppedFile
     					myFileList.add(new DroppedFile(fi));
	
					//Remove the empty form that was the last model before we added this new file
					//A new, empty, form will be added to the end automatically
					var secondToLast = myFileList.length-2;
					myFileList.at(secondToLast).destroy();
				} else {
					$('#status').append('<p>The file '+fi.name+' was too large.</p>');
				}
                	}
		}
		$('#status img').remove();

	}

	//Function for preventing the default action of drag 'n drop
	function prevent(evt){
		evt.stopPropagation();
    		evt.preventDefault();

		//Show a hint when dragging
		$('#hovering').show();
		$('#hovering').text('Release mouse to drop files.');
		$('#hovering').fadeOut(4000);
	}

	//TODO: Make hilighting of the drop area work
	function addHilight(evt){
		evt.stopPropagation();
    		evt.preventDefault();
	}

	function removeHilight(evt){
		evt.stopPropagation();
    		evt.preventDefault();
	}

	//Select the drop area and add some listeners for the events
	var dragnDrop = document.getElementsByTagName('html')[0];
	dragnDrop.addEventListener('dragenter', addHilight, false);
	dragnDrop.addEventListener('dragleave', removeHilight, false);
	dragnDrop.addEventListener('dragover', prevent, false);
	dragnDrop.addEventListener('drop', handleDrop, false);
	
	
});

{% endblock headscript %}
</script>

</head>

<body>
	<div id="wrapper">
		<div id="header">
			<h1><a href="/">{% block header %}Futurice Share{% endblock %}</a></h1>
			<a href="/"><img id="logo" src="{% get_static_prefix %}img/header-logo.png" alt="logo"></a>
		</div>

		<div id="content">
{% block content %}

			<h2>Upload</h2>

			<div id="content-text">
				<p>This page allows you to upload files and creates a password-protected zip-files out of them. 
				The .zip will be automatically created after uploading the files.
				Maximum file size is 300MB. 
				</p>
				<p>Drop files anywhare on the page to add them to the zip-file. (Not supported on older browsers and IE)
				</p>	
			</div>

			<h3>Files:</h3>
			<div id="forms-wrapper">
				<button id="upload" disabled="disabled">Upload</button>
			</div>

			<div id="status"></div>
			<div id="hovering"></div>
	
{% endblock content %}
		</div>
	</div>

	<!-- Piwik -->
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.futurice.com/piwik/"
				: "http://analytics.futurice.com/piwik/");
		document.write(unescape("%3Cscript src='" + pkBaseURL
				+ "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
			piwikTracker.trackPageView();
			piwikTracker.enableLinkTracking();
		} catch (err) {
		}
	</script>
	<noscript>
		<p>
			<img src="http://analytics.futurice.com/piwik/piwik.php?idsite=4"
				style="border: 0" alt="" />
		</p>
	</noscript>
	<!-- End Piwik Tag -->
	
	<div id="iframes"></div>

</body>
</html>

