{% extends "futuUpload/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Password{% endblock %}

{% block headscript %}

$(function(){

  $('form').submit(function(event) {
    event.preventDefault(); 
    var password = $('#password').val();
    var filename = '{{ filename }}';
    $.post('/futushare/getfile/', { password: password, filename: filename }, function(response){
      var status='';
      $('#status').removeClass();
      if (response == 'FAIL') {
        $('#status').addClass('error');
        status = 'Downloading failed';
      } else if (response == 'WRONG') {
        $('#status').addClass('error');
        status = 'Wrong password';
      } else {
	status = 'Correct';
        $('#status').addClass('success');
        window.location = response;
      }
      $('#status').text(status);
    });
  });

});


{% endblock %}


{% block content %}
<form action="/" id="passPrompt">
<p>Please enter the password for the file:<br /><span class="bigger">{{ filename }}</span></p>
<input id="password" type="password"></input>
<input type="submit" value="Download">
</form>
<div id="status"></div>

{% endblock %}
