{% extends "upload/base.html" %}
{% load static %}

{% block title %}{{ block.super }}: Password{% endblock %}

{% block headextra %}
<script>

$(function(){
  
$("#download").click(function(){
	$('#status').removeClass();
    	$('#status').text('');
	$('form').submit();
});

});

</script>
{% endblock %}

{% block content %}

<form action="" id="passPrompt" method="POST">
{% csrf_token %}
{{ form.as_p }}
<div id="download" class="smallbutton">Download</div>
</form>
<div id="status" class="error">{{ status }}</div>

{% endblock %}
