/* Variables */
/* -- General Text Styles ------------------------------- */
html, body {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f9f9f9; }

a {
  color: black; }

a:hover {
  text-decoration: underline; }

h1 {
  margin: 0; }

/* -- Layout ------------------------------- */
#wrapper {
  background-color: white;
  margin: 0 auto 0 auto;
  width: 700px;
  border: solid 1px gray;
  border-top: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 3px 3px 10px gray; }

#header {
  color: black;
  margin: 0;
  background: white;
  height: 125px;
  position: relative;
  border-bottom: solid 1px gray; }
  #header h1 {
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    bottom: 10px;
    a: active; }
    #header h1 a {
      color: black;
      text-decoration: none; }
    #header h1 a:link {
      color: black;
      text-decoration: none; }
    #header h1 a:visited {
      color: black;
      text-decoration: none; }
    #header h1 a:hover {
      color: black;
      text-decoration: none; }
  #header #logo {
    position: absolute;
    right: 20px;
    top: 10px; }

#content {
  margin: 20px;
  padding: 5px; }
  #content h2 {
    font-weight: 100;
    font-size: 2.0em; }
  #content #forms-wrapper {
    position: relative;
    margin-bottom: 25px; }
    #content #forms-wrapper #upload {
      margin: 30px auto 10px auto;
      position: absolute;
      bottom: -40px;
      right: 30px; }
  #content #content-text {
    width: 250px; }

#send-form-wrapper {
  text-align: right;
  padding: 0 200px 20px 0; }
  #send-form-wrapper span {
    font-size: 0.9em; }
  #send-form-wrapper .eg {
    font-size: 0.8em; }
  #send-form-wrapper p {
    font-size: 1.1em; }

/* -- General Classes -- */
.file-icon {
  vertical-align: middle; }

.ziplink {
  font-size: 2.5em; }

.password {
  font-size: 2.5em; }

.passnlink {
  text-align: left;
  font-weight: 100; }
  .passnlink .passtext {
    padding: 10px 0 30px 0; }

.securityInfo {
  font-size: 0.7em;
  width: 250px; }

.italic {
  font-style: italic; }

.error {
  color: red; }
