from settings import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG

# SMS settings

SMS_USER = ''
SMS_PASSWORD = ''

# General settings

# Make this unique, and don't share it with anybody.
SECRET_KEY = ''

# Path settings

#Location of passwordless zips
#on the server
FREE_ZIP_DIR = '{0}/openzips/'.format(PROJECT_PATH)

#Directory for storing the files before the zipping
UPLOAD_DIRECTORY = '{0}/tmp/'.format(PROJECT_PATH)
